/*
Elastic Email REST API

This API is based on the REST API architecture, allowing the user to easily manage their data with this resource-based approach.    Every API call is established on which specific request type (GET, POST, PUT, DELETE) will be used.    The API has a limit of 20 concurrent connections and a hard timeout of 600 seconds per request.    To start using this API, you will need your Access Token (available <a target=\"_blank\" href=\"https://app.elasticemail.com/marketing/settings/new/manage-api\">here</a>). Remember to keep it safe. Required access levels are listed in the given request’s description.    Downloadable library clients can be found in our Github repository <a target=\"_blank\" href=\"https://github.com/ElasticEmail?tab=repositories&q=%22rest+api%22+in%3Areadme\">here</a>

API version: 4.0.0
Contact: support@elasticemail.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ElasticEmail

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// EmailsAPIService EmailsAPI service
type EmailsAPIService service

type ApiEmailsByMsgidViewGetRequest struct {
	ctx context.Context
	ApiService *EmailsAPIService
	msgid string
}

func (r ApiEmailsByMsgidViewGetRequest) Execute() (*EmailData, *http.Response, error) {
	return r.ApiService.EmailsByMsgidViewGetExecute(r)
}

/*
EmailsByMsgidViewGet View Email

Returns email details for viewing or rendering. Required Access Level: None

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param msgid Message identifier
 @return ApiEmailsByMsgidViewGetRequest
*/
func (a *EmailsAPIService) EmailsByMsgidViewGet(ctx context.Context, msgid string) ApiEmailsByMsgidViewGetRequest {
	return ApiEmailsByMsgidViewGetRequest{
		ApiService: a,
		ctx: ctx,
		msgid: msgid,
	}
}

// Execute executes the request
//  @return EmailData
func (a *EmailsAPIService) EmailsByMsgidViewGetExecute(r ApiEmailsByMsgidViewGetRequest) (*EmailData, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmailData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmailsAPIService.EmailsByMsgidViewGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/emails/{msgid}/view"
	localVarPath = strings.Replace(localVarPath, "{"+"msgid"+"}", url.PathEscape(parameterValueToString(r.msgid, "msgid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-ElasticEmail-ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEmailsByTransactionidStatusGetRequest struct {
	ctx context.Context
	ApiService *EmailsAPIService
	transactionid string
	showFailed *bool
	showSent *bool
	showDelivered *bool
	showPending *bool
	showOpened *bool
	showClicked *bool
	showAbuse *bool
	showUnsubscribed *bool
	showErrors *bool
	showMessageIDs *bool
}

// Include Bounced email addresses.
func (r ApiEmailsByTransactionidStatusGetRequest) ShowFailed(showFailed bool) ApiEmailsByTransactionidStatusGetRequest {
	r.showFailed = &showFailed
	return r
}

// Include Sent email addresses.
func (r ApiEmailsByTransactionidStatusGetRequest) ShowSent(showSent bool) ApiEmailsByTransactionidStatusGetRequest {
	r.showSent = &showSent
	return r
}

// Include all delivered email addresses.
func (r ApiEmailsByTransactionidStatusGetRequest) ShowDelivered(showDelivered bool) ApiEmailsByTransactionidStatusGetRequest {
	r.showDelivered = &showDelivered
	return r
}

// Include Ready to send email addresses.
func (r ApiEmailsByTransactionidStatusGetRequest) ShowPending(showPending bool) ApiEmailsByTransactionidStatusGetRequest {
	r.showPending = &showPending
	return r
}

// Include Opened email addresses.
func (r ApiEmailsByTransactionidStatusGetRequest) ShowOpened(showOpened bool) ApiEmailsByTransactionidStatusGetRequest {
	r.showOpened = &showOpened
	return r
}

// Include Clicked email addresses.
func (r ApiEmailsByTransactionidStatusGetRequest) ShowClicked(showClicked bool) ApiEmailsByTransactionidStatusGetRequest {
	r.showClicked = &showClicked
	return r
}

// Include Reported as abuse email addresses.
func (r ApiEmailsByTransactionidStatusGetRequest) ShowAbuse(showAbuse bool) ApiEmailsByTransactionidStatusGetRequest {
	r.showAbuse = &showAbuse
	return r
}

// Include Unsubscribed email addresses.
func (r ApiEmailsByTransactionidStatusGetRequest) ShowUnsubscribed(showUnsubscribed bool) ApiEmailsByTransactionidStatusGetRequest {
	r.showUnsubscribed = &showUnsubscribed
	return r
}

// Include error messages for bounced emails.
func (r ApiEmailsByTransactionidStatusGetRequest) ShowErrors(showErrors bool) ApiEmailsByTransactionidStatusGetRequest {
	r.showErrors = &showErrors
	return r
}

// Include all MessageIDs for this transaction
func (r ApiEmailsByTransactionidStatusGetRequest) ShowMessageIDs(showMessageIDs bool) ApiEmailsByTransactionidStatusGetRequest {
	r.showMessageIDs = &showMessageIDs
	return r
}

func (r ApiEmailsByTransactionidStatusGetRequest) Execute() (*EmailJobStatus, *http.Response, error) {
	return r.ApiService.EmailsByTransactionidStatusGetExecute(r)
}

/*
EmailsByTransactionidStatusGet Get Status

Get status details of an email transaction. Required Access Level: ViewReports

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param transactionid Transaction identifier
 @return ApiEmailsByTransactionidStatusGetRequest
*/
func (a *EmailsAPIService) EmailsByTransactionidStatusGet(ctx context.Context, transactionid string) ApiEmailsByTransactionidStatusGetRequest {
	return ApiEmailsByTransactionidStatusGetRequest{
		ApiService: a,
		ctx: ctx,
		transactionid: transactionid,
	}
}

// Execute executes the request
//  @return EmailJobStatus
func (a *EmailsAPIService) EmailsByTransactionidStatusGetExecute(r ApiEmailsByTransactionidStatusGetRequest) (*EmailJobStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmailJobStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmailsAPIService.EmailsByTransactionidStatusGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/emails/{transactionid}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"transactionid"+"}", url.PathEscape(parameterValueToString(r.transactionid, "transactionid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.showFailed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showFailed", r.showFailed, "form", "")
	} else {
		var defaultValue bool = false
		r.showFailed = &defaultValue
	}
	if r.showSent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showSent", r.showSent, "form", "")
	} else {
		var defaultValue bool = false
		r.showSent = &defaultValue
	}
	if r.showDelivered != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showDelivered", r.showDelivered, "form", "")
	} else {
		var defaultValue bool = false
		r.showDelivered = &defaultValue
	}
	if r.showPending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showPending", r.showPending, "form", "")
	} else {
		var defaultValue bool = false
		r.showPending = &defaultValue
	}
	if r.showOpened != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showOpened", r.showOpened, "form", "")
	} else {
		var defaultValue bool = false
		r.showOpened = &defaultValue
	}
	if r.showClicked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showClicked", r.showClicked, "form", "")
	} else {
		var defaultValue bool = false
		r.showClicked = &defaultValue
	}
	if r.showAbuse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showAbuse", r.showAbuse, "form", "")
	} else {
		var defaultValue bool = false
		r.showAbuse = &defaultValue
	}
	if r.showUnsubscribed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showUnsubscribed", r.showUnsubscribed, "form", "")
	} else {
		var defaultValue bool = false
		r.showUnsubscribed = &defaultValue
	}
	if r.showErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showErrors", r.showErrors, "form", "")
	} else {
		var defaultValue bool = false
		r.showErrors = &defaultValue
	}
	if r.showMessageIDs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showMessageIDs", r.showMessageIDs, "form", "")
	} else {
		var defaultValue bool = false
		r.showMessageIDs = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-ElasticEmail-ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEmailsMergefilePostRequest struct {
	ctx context.Context
	ApiService *EmailsAPIService
	mergeEmailPayload *MergeEmailPayload
}

// Email data
func (r ApiEmailsMergefilePostRequest) MergeEmailPayload(mergeEmailPayload MergeEmailPayload) ApiEmailsMergefilePostRequest {
	r.mergeEmailPayload = &mergeEmailPayload
	return r
}

func (r ApiEmailsMergefilePostRequest) Execute() (*EmailSend, *http.Response, error) {
	return r.ApiService.EmailsMergefilePostExecute(r)
}

/*
EmailsMergefilePost Send Bulk Emails CSV

Send to a list of contacts submitted in a CSV data file. The first column in the CSV must be the email address and the CSV must contain a header row. Additional fields can be included with a named header row and can be merged with the template using {merge} tags in the content.
            
             Example CSV:
            
             email, firstname, lastname
             test1@gmail.com, michael, smith
             test2@gmail.com, janet, smith
            
             Merge file must not be empty. Required Access Level: SendHttp

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEmailsMergefilePostRequest
*/
func (a *EmailsAPIService) EmailsMergefilePost(ctx context.Context) ApiEmailsMergefilePostRequest {
	return ApiEmailsMergefilePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EmailSend
func (a *EmailsAPIService) EmailsMergefilePostExecute(r ApiEmailsMergefilePostRequest) (*EmailSend, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmailSend
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmailsAPIService.EmailsMergefilePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/emails/mergefile"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.mergeEmailPayload == nil {
		return localVarReturnValue, nil, reportError("mergeEmailPayload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.mergeEmailPayload
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-ElasticEmail-ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEmailsPostRequest struct {
	ctx context.Context
	ApiService *EmailsAPIService
	emailMessageData *EmailMessageData
}

// Email data
func (r ApiEmailsPostRequest) EmailMessageData(emailMessageData EmailMessageData) ApiEmailsPostRequest {
	r.emailMessageData = &emailMessageData
	return r
}

func (r ApiEmailsPostRequest) Execute() (*EmailSend, *http.Response, error) {
	return r.ApiService.EmailsPostExecute(r)
}

/*
EmailsPost Send Bulk Emails

Send bulk merge email. Required Access Level: SendHttp

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEmailsPostRequest
*/
func (a *EmailsAPIService) EmailsPost(ctx context.Context) ApiEmailsPostRequest {
	return ApiEmailsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EmailSend
func (a *EmailsAPIService) EmailsPostExecute(r ApiEmailsPostRequest) (*EmailSend, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmailSend
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmailsAPIService.EmailsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/emails"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.emailMessageData == nil {
		return localVarReturnValue, nil, reportError("emailMessageData is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.emailMessageData
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-ElasticEmail-ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEmailsTransactionalPostRequest struct {
	ctx context.Context
	ApiService *EmailsAPIService
	emailTransactionalMessageData *EmailTransactionalMessageData
}

// Email data
func (r ApiEmailsTransactionalPostRequest) EmailTransactionalMessageData(emailTransactionalMessageData EmailTransactionalMessageData) ApiEmailsTransactionalPostRequest {
	r.emailTransactionalMessageData = &emailTransactionalMessageData
	return r
}

func (r ApiEmailsTransactionalPostRequest) Execute() (*EmailSend, *http.Response, error) {
	return r.ApiService.EmailsTransactionalPostExecute(r)
}

/*
EmailsTransactionalPost Send Transactional Email

Send transactional emails (recipients will be known to each other). Required Access Level: SendHttp

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEmailsTransactionalPostRequest
*/
func (a *EmailsAPIService) EmailsTransactionalPost(ctx context.Context) ApiEmailsTransactionalPostRequest {
	return ApiEmailsTransactionalPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EmailSend
func (a *EmailsAPIService) EmailsTransactionalPostExecute(r ApiEmailsTransactionalPostRequest) (*EmailSend, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmailSend
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmailsAPIService.EmailsTransactionalPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/emails/transactional"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.emailTransactionalMessageData == nil {
		return localVarReturnValue, nil, reportError("emailTransactionalMessageData is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.emailTransactionalMessageData
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-ElasticEmail-ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
