# VerificationStatus

## Enum


* `PROCESSING` (value: `"Processing"`)

* `READY` (value: `"Ready"`)

* `EXPIRED` (value: `"Expired"`)

* `VERIFIED` (value: `"Verified"`)

* `ERROR` (value: `"Error"`)


[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


